<header>
  <a href="/">{{ site.name }}</a>

  <nav>
    {% for item in site.menu %}
      <a href="{{ item.url }}">{{ item.name }}</a>
    {% endfor %}
  </nav>
<nav>
  <a href="/">Home</a>
  <a href="/about/">About</a>
  <a href="/news/">News</a>
  <a href="/our projects/">Projects</a>
  <a href="/committees/">Committees</a>
  <a href="/partners/">Partners</a>
</nav>
</header>